## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
#from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df = vacation_df.dropna(axis=0, how='any', subset=["Hotel Name"])
vacation_df.isnull().sum()
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,77.81,clear sky,-23.1203,-134.9692,Pension Maro'i
1,9,Kapaa,US,78.80,clear sky,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
2,14,Bambous Virieux,MU,78.80,light rain,-20.3428,57.7575,Casa Tia Villa
3,19,Avarua,CK,84.20,light rain,-21.2078,-159.7750,Paradise Inn
4,20,Sola,VU,82.47,broken clouds,-13.8833,167.5500,Leumerus Bungalows
5,22,Jalu,LY,79.36,overcast clouds,29.0331,21.5482,صاحبة الفخامة
6,24,Veraval,IN,79.39,clear sky,20.9000,70.3667,Lords Inn Somnath
7,27,Hilo,US,82.40,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
8,29,Butaritari,KI,83.17,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,32,Candolim,IN,81.59,few clouds,15.5181,73.7626,Resort Terra Paraiso

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Conditions</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Santa Ana']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Santa Ana']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Clovis']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Laguna'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Catalina Foothills']

-117.8678

In [180]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()[0].tolist()
end = vacation_end[['Lat','Lng']].to_numpy()[0].tolist()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()[0].tolist()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()[0].tolist()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()[0].tolist()

[36.8252, -119.7029]

[33.7456, -117.8678]

In [187]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure()
route_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],
                travel_mode='DRIVING')

fig.add_layer(route_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [189]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,501,Santa Ana,US,89.60,clear sky,33.7456,-117.8678,Santa Ana Travel Inn
1,530,Clovis,US,87.01,few clouds,36.8252,-119.7029,Homewood Suites by Hilton Fresno Airport/Clovi...
2,569,Laguna,US,90.00,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
3,428,Catalina Foothills,US,78.01,broken clouds,32.2979,-110.9187,The Westin La Paloma Resort & Spa

In [192]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Conditions</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [195]:
# 11a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))